body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .csection {
    padding: 0px;
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    opacity: 0.93;
  }
  .csection:hover{
    color: dodgerblue);
    opacity: 0.8;
  }
  
  .columnf {
    float: left;
    width: 33.33%;
    margin-bottom: 5px;
    padding: 5px 10px;
  }
  .columns {
    float: left;
    width: 20%;
    margin-bottom: 5px;
    padding: 0px 10px;
  }

  .column {
    float: left;
    width: 33.33%;
    margin-bottom: 5px;
    padding: 0 0px;
  }
  .csection1 {
    padding: 10px;
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    opacity: 0.93;
  }

  .column1 {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 0px;
  }
  
  
  .container {
    padding: 10px 0px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  
  @media screen and (max-width: 1080px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  @media screen and (max-width: 1080px) {
    .columns {
      width: 100%;
      display: block;
    }
  }

  @media screen and (max-width: 1080px) {
    .columnf {
      width: 100%;
      display: block;
    }
  }

  .fixed-footer {
    position: fixed;     
    background-color:black;
    color: white;
    padding: 1px 0;
    text-align:center;
    width: 100%;
  }
  .fa {
    padding:5;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
    border-radius: 0%;
  }
  
  .fa:hover {
      color:#00b0ff;
  }
  .fa-facebook {
      align:right;
    background: black;
    color: white;
  }
  .fa-youtube {
    background: black;
    color:white;
  }
  .fa-instagram {
    background:black;
    color: white;
  }
  
  .fixed-header{
    top: 0;
  }
  .fixed-footer{
    bottom: 0 ;
  }    
  
  .fixed-header{
    position: relative;
      text-align: center;
      color: #00b0ff;
      background-color:black;
    padding: 1px 0;
    padding-right: 20px;
    width: 100%;
  }
  .w3-center{
      font-family:arial;
      position:center;
  }
  .topnav {
    padding-right: 20px;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #00b0ff;
    color: white;
  }

        

  input[type=text],input[type=tel], input[type=number],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(83, 144, 204);
  }
  
  .containerf {
    border-radius: 0px;
    background-color : rgb(243, 227, 227);
    opacity:0.85 ;
    padding: 10px;
    margin-bottom: 80px;
  }